.Pantalla {
    display: block;
    left: 0px;
    right: 0px;
    margin: auto;
}
.Imatgepok {
    height: 44%;
    width: 90%;
    object-fit: contain;
    background-color: #60e01a;
}
.nompok {
    text-transform: capitalize;
    font-size: 1.5em;
    position: absolute;
    right: 0;
    left: 0;
    font-weight: bold;
    top: 41%;
}
.tipus {
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
    text-transform: capitalize;
    position: absolute;
    width: 90%;
    right: 0;
    left: 0;
    margin: auto;
    max-height: 15%;
    justify-content: center;
    bottom: 43%;
}

.tipus_estil{
    border: 1px solid #424242;
    display: flex;
    text-align: center;
    border-radius: 10px;
    padding: 3px;
    margin: 5px;
    font-size: 20px;
}
.tip {
    margin: 0 6px;
}
.descr{
    height: fit-content;
    text-align: center;
    width: 50%;
}   

.dades{
    display: flex;
    position: fixed;
    bottom: 51%;
    flex-direction: column;
    height: auto;
    right: 0;
    left: 0;
}

h1,h2{
    text-align: center;
    margin: auto;
    font-size: 20px;

}
h3{
    position: fixed;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    bottom: 29%;
    width: 75%;
    height: 22%;
    align-items: center;
    overflow: hidden;
    text-transform: math-auto;
    overflow-wrap: break-word;
    font-size: 18px;
    justify-content: flex-start;
}


/* colors del tipus pokes */
.color-fire {
    background-color: #ff7402;
  }
  .color-grass {
    background-color: #9bcc50;
  }
  .color-steel {
    background-color: #9eb7b8;
  }
  .color-water {
    background-color: #4592c4;
  }
  .color-psychic {
    background-color: #f366b9;
  }
  .color-ground {
    background-color: #ab9842;
  }
  .color-ice {
    background-color: #51c4e7;
  }
  .color-flying {
    background-color: #3dc7ef;
  }
  .color-ghost {
    background-color: #4d5b64;
  }
  .color-normal {
    background-color: #a4acaf;
  }
  .color-poison {
    background-color: #7e0058;
  }
  .color-rock {
    background-color: #a38c21;
  }
  .color-fighting {
    background-color: #d56723;
  }
  .color-dark {
    background-color: #707070;
  }
  .color-bug {
    background-color: #729f3f;
  }
  .color-dragon {
    background-image: linear-gradiend(180deg, #53a4cf 50%, #f16e57 50%);
  }
  .color-electric {
    background-color: #bba909;
  }
  .color-fairy {
    background-color: #fdb9e9;
  }
  .color-shadow {
    background-color: #7b62a3;
  }
  .color-unknow {
    background-color: #757575;
  }