.Pantalla {
    display: block;
    left: 0px;
    right: 0px;
    margin: auto;
}
.Imatgepok {
    height: 36%;
    width: 90%;
    object-fit: contain;
    /* background-color: #60e01a; */
}
.contenidor_dades {
  display: flex;
  position: absolute;
  flex-direction: column;
  max-height: 32%;
  justify-content: center;
  height: 32%;
  width: 100%;
  top: 44.5%;
}
.nompok {
  text-transform: capitalize;
  font-size: 7vw;
  position: absolute;
  right: 0;
  left: 0;
  font-weight: bold;
  top: 35%;
  border: 3px solid black;
  border-radius: 13px;
  max-width: 85%;
  margin: auto;
  background-color: azure;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 1px;
  z-index: 2;
}
.tipus {
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
    text-transform: capitalize;
    position: absolute;
    width: 90%;
    right: 0;
    left: 0;
    margin: auto;
    max-height: 15%;
    justify-content: center;
    bottom: 43%;
}

.tipus_estil{
    text-align: center;
    /* padding: 3px; */
    margin: 5px;
    font-size: 20px;
}
.tip {
    margin: 5% 3% 1% 1%;
    padding: 3px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 13px;
    text-transform: capitalize;
    color: white;
}

.dades{
  display: flex;
  /* position: fixed; */
  flex-direction: column;
  /* max-height: 23%; */
  right: 0;
  left: 0;
  border: 3px solid black;
  border-radius: 13px;
  background-color: azure;
  width: max-content;
  margin: auto;
  z-index: 1;
  padding: 3px 4px 4px;
  overflow: auto;
  text-transform: capitalize;
  bottom: 42.5%;
}
h1{
    text-align: center;
    font-size: 5.5vw;
    margin-block: 0%;
    margin-top: 3%;
}
h2{
    text-align: center;
    margin: auto;
    font-size: 20px;
}
h3{
  position: fixed;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  bottom: 23%;
  width: 79%;
  height: 30%;
  align-items: center;
  overflow: hidden;
  overflow-wrap: anywhere;
  font-size: 5vw;
  justify-content: flex-end;
  border: 5px solid black;
  border-radius: 13px;
  background-color: azure;
  max-height: 10%;
  padding: 6% 1% 6% 1%;
  overflow: scroll;
  align-content: center;
  text-align: center;

}
span{
  margin:3px 8px;
  text-transform: capitalize;
}
.meitat{
  text-transform: capitalize;

}
/* colors del tipus pokes */
.color-fire {
  background-color: #ff7402;
  padding: 3px 8px;
}

.color-grass {
  background-color: #9bcc50;
  padding: 3px 8px;
}

.color-steel {
  background-color: #9eb7b8;
  padding: 3px 8px;
}

.color-water {
  background-color: #4592c4;
  padding: 3px 8px;
}

.color-psychic {
  background-color: #f366b9;
  padding: 3px 8px;
}

.color-ground {
  background-color: #ab9842;
  padding: 3px 8px;
}

.color-ice {
  background-color: #51c4e7;
  padding: 3px 8px;
}

.color-flying {
  background-color: #3dc7ef;
  padding: 3px 8px;
}

.color-ghost {
  background-color: #4d5b64;
  padding: 3px 8px;
}

.color-normal {
  background-color: #a4acaf;
  padding: 3px 8px;
}

.color-poison {
  background-color: #7e0058;
  padding: 3px 8px;
  text-transform: capitalize;

}

.color-rock {
  background-color: #a38c21;
  padding: 3px 8px;
}

.color-fighting {
  background-color: #d56723;
  padding: 3px 8px;
}

.color-dark {
  background-color: #707070;
  padding: 3px 8px;
}

.color-bug {
  background-color: #729f3f;
  padding: 3px 8px;
}

.color-dragon {
  background-image: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  padding: 3px 8px;
}

.color-electric {
  background-color: #bba909;
  padding: 3px 8px;
}

.color-fairy {
  background-color: #fdb9e9;
  padding: 3px 8px;
}

.color-shadow {
  background-color: #7b62a3;
  padding: 3px 8px;
}

.color-unknow {
  background-color: #757575;
  padding: 3px 8px;
}
