.Pantalla {
    display: block;
    left: 0px;
    right: 0px;
    margin: auto;
}
.Imatgepok {
    /* object-fit: fill; */
    height: 50%;
    width: 95%;
}
.nompok {
    text-transform: capitalize;
    font-size: 1.5em;
    /* height: 21%; */
    position: absolute;
    right: 0;
    left: 0;
    top: 47%;
}
.tipus {
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
    text-transform: capitalize;
    bottom: 15%;
    position: absolute;
    width: 90%;
    right: 0;
    left: 0;
    margin: auto;
}
.tipus_estil{
    border: 1px solid #424242;
    display: flex;
    text-align: center;
}
.descripcio{
    height: fit-content;
    text-align: center;
    width: 50%;
}   
