
*{
    text-transform: capitalize;
}
h2{
    font-size: 10vw;
    text-align: center;
    margin: auto;
    font-size: 8vw;
}
.nompok2{
    min-width: fit-content;
    padding: 1px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: 8vw;
    /* position: absolute; */
    font-weight: bold;
    border: 3px solid black;
    border-radius: 13px;
    max-width: 94%;
    max-height: 20%;
    margin: auto;
    background-color: azure;


}
.containerimg{
    width: 100%;
    height: 10%;
}
.imatgepokem{
    width: 35%;
    padding: 1%;
    right: 0;
    position: relative;
    left: 0;
    margin: auto;
    max-height: max-content;
}

.llistastats{
    font-size: 5vw;
    justify-content: space-around;
    border-radius: 20px;
    max-width: 95%;
    margin: auto;
    background-color: azure;
    border: 3px solid black;
    margin: 3% 2% 3% 2%;
    padding: 3%;
    text-align: left;
}

.abilities_div{
    font-size: 5vw;
    /* display: flex; */
    justify-content: space-around;
    text-align: center;
    border-radius: 13px;
    max-width: 85%;
    margin: auto;
    background-color: azure;
    border: 3px solid black;
    padding: 1%;
    position: absolute;
    right: 0;
    left: 0;
    overflow: auto;
    height: -webkit-fill-available;

}
.abilities_container{
    font-size: 5vw;
    justify-content: space-around;
    border-radius: 20px;
    max-width: 95%;
    margin: auto;
    background-color: azure;
    border: 3px solid black;
    margin: 3% 2% 3% 2%;
    padding: 3%;
    text-align: left;
}
.tipusabilities{
    font-size: 6vw;
    display: block;
    justify-content: space-around;
    border-radius: 13px;
    max-width: 60%;
    margin: auto;
    background-color: azure;
    border: 3px solid black;
    display: block;
    text-align: center;
}
.tipusstats{
    font-size: 6vw;
    display: block;
    justify-content: space-around;
    border-radius: 13px;
    max-width: 65%;
    margin: auto;
    background-color: azure;
    border: 3px solid black;
    display: block;
    text-align: center;
}
.tipusmoves{
    font-size: 6vw;
    display: block;
    justify-content: space-around;
    border-radius: 13px;
    max-width: 65%;
    margin: auto;
    background-color: azure;
    border: 3px solid black;
    display: block;
    text-align: center;
}
.moves_div{
    font-size: 5vw;
    justify-content: space-around;
    border-radius: 20px;
    max-width: 95%;
    margin: auto;
    background-color: azure;
    border: 3px solid black;
    margin: 3% 2% 3% 2%;
    padding: 3%;
    text-align: left;
}

.conjuntstats{
    font-size: 5vw;
    justify-content: space-around;
    border-radius: 20px;
    max-width: 95%;
    /* margin: auto; */
    background-color: azure;
    border: 2px solid black;
    margin: 3% 2% 3% 2%;
    padding: 3%;
}
.conjuntmovs{
    font-size: 5vw;
    justify-content: space-around;
    border-radius: 20px;
    max-width: 95%;
    /* margin: auto; */
    background-color: azure;
    border: 2px solid black;
    margin: 3% 2% 3% 2%;
    padding: 3%;
  }
.stat-bar {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    margin-top: 2px;
  }
  
  .bar {
    height: 20px;
    margin-right: 8px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .stat-name {
    width: 100px;
    padding-top: 2%;
  }
  
  .stat-value {
    margin-left: 8px;
  }
  
  /* Adjust color based on stat value */
  .bar {
    background-color: green; /* Default color */
  }
  
  .bar.red {
    background-color: red;
  }
  
  .bar.orange {
    background-color: orange;
  }
  
